a {
  color: white;
  text-decoration: none;
  padding: 16px 4px 16px 40px;
}

.menu {
  display: flex;
  justify-content: center;
}

.float {
  content: 'Hi';
  position: absolute;
  top: 20px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: -16px -4px -16px 0;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: 10px 10px 40px -14px #000
}

.about {
  position: absolute;
  top: 40px;
  right: -20px;
  background: black;
  color: #fff;
  width: 320px;
  padding: -16px -4px -16px 0;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: 10px 10px 40px -14px #000;
  text-align: center;
  font-style: italic;
}

h2 {
  margin: auto;
  padding-top: 50px;
  max-width: 600px;
  text-align: center;
  font-size: 4rem;
  font-style: italic;
}

h3, h4 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.center {
  display: flex;
  justify-content: center;
}

p {
  text-align: center;
}