body {
  font-family: arial;
}

.size {
  font-size: 20pt;
}

.pt {
  font-size: 10pt;
}

.color {
  color: red;
}

a {
  color: blue;
}

a:hover {
  color: red;
}

h3, h4 {
  color: blue;
}

.tembus {
  width: 500px;
  opacity: 0.1;
}

.wkwk {
  width: 10%;
}