a {
  color: white;
  text-decoration: none;
  padding: 16px 4px 16px 40px;
}

.menu {
  display: flex;
  justify-content: center;
}

.float {
  content: 'Hi';
  position: absolute;
  top: 15px;
  right: -20px;
  background: #50505a;
  color: #fff;
  width: 320px;
  padding: -16px -4px -16px 0;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: 10px 10px 40px -14px #000
}

.hello {
  position: absolute;
  top: 30px;
  right: -20px;
  background: black;
  color: #fff;
  width: 320px;
  padding: -16px -4px -16px 0;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: 10px 10px 40px -14px #000;
  text-align: center;
  font-style: italic;
}

h2 {
  margin: auto;
  padding-top: 50px;
  max-width: 600px;
  text-align: center;
  font-size: 4rem;
  font-style: italic;
}

.image {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  position: center;
  bottom: 0;
}

.fa {
  padding: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 4px 4px;
  border-radius: 50%;
}

.fa:hover {
  color: white;
}

.fa-facebook-official {
  color: blue;
  background: white;
}

a.url-fb:hover {
  color: black;
  background: white;
}

a.url-fb:visited {
  color: ;
  background: ;
}

.fa-instagram {
  color: black;
  background: white;
}

a.url-ig:hover {
  color: blue;
  background: white;
}

a.url-ig:visited {
  color: ;
  background: ;
}

@media only screen and (max-width: 500px) {
  body {
    background-color: white;
  }
}