div {
  background-image: url("./dorabat.jpg");
  background-size: cover;
}

#grad {
  background: repeating-radial-gradient(red, yellow 10%, green 15%);
}

body {
  font-family: arial;
}

h1 {
  font-style: italic;
  font-size: 20pt;
}

.color {
  color: blue;
}

.opacity {
  width: 500px;
  opacity: 1;
}

a {
  color: blue;
}

a:hover {
  color: red;
}

.wkwk {
  width: 10%;
}